{% extends "base.html" %}
{% block content %}
<h1>{{ error }}</h1>
<div class="login-container">
    <img src="https://via.placeholder.com/80" alt="Profile" class="profile-img">
    <h3>Sign In</h3>
    <p>Enter your credentials to continue</p>
    <form action="/login" method="post">
        <input type="text" class="form-control mb-3" placeholder="Username" name="username" required>
        <input type="password" class="form-control mb-3" placeholder="Password" name="password" required>
        <button type="submit">Login</button>
     
    </form>
    <a href="/register"> Register</a>
</div>

{% endblock %}
